<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <section class="ToDo-footer">
    <section class="ToDo-footer">
      <footer class="bg-light text-center py-5 mt-5">
        <div class="container">
          <p class="me-5">
            <img src="/static/img/write-dark.png" alt="ToDo-logo" class="logo">
            &copy; {{ current_year }} ToDo List
          </p>
          <div class="container py-1 text-decoration-none bg-light">
            <a href="#" aria-label="Facebook"><i class="bi bi-facebook me-4 fs-4 text-dark"></i></a>
            <a href="#" aria-label="Instagram"><i class="bi bi-instagram me-4 fs-4 text-dark"></i></a>
            <a href="#" aria-label="TikTok"><i class="bi bi-tiktok me-4 fs-4 text-dark"></i></a>
            <a href="#" aria-label="Twitter"><i class="bi bi-twitter me-4 fs-4 text-dark"></i></a>
          </div>
        </div>
      </footer>
    </section>
    
</body>
</html>
