<section class="ToDo-footer">
    <footer class="footer bg-light text-center">
      <div class="container-fluid py-4 d-block">
        <p class="me-5">
          <img src="/static/img/write-dark.png" alt="ToDo-logo" class="logo">
          &copy; 2023 ToDo List
        </p>
        <div class="container py-4 text-decoration-none bg-light">
          <a href="#">
            <i class="bi bi-facebook me-4 fs-4 text-dark"></i>
          </a>
          <a href="#">
            <i class="bi bi-instagram me-4 fs-4 text-dark"></i>
          </a>
          <a href="#">
            <i class="bi bi-tiktok me-4 fs-4 text-dark"></i>
          </a>
          <a href="#">
            <i class="bi bi-twitter me-4 fs-4 text-dark"></i>
          </a>
        </div>
        
      </div>
    </footer>
  </section>