<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <section class="ToDo-footer">
    <footer class="footer bg-light text-center py-5">
      <div class="container-fluid py-5 d-block mt-auto flex-column d-flex">
        <p class="me-5">
          <img src="/static/img/write-dark.png" alt="ToDo-logo" class="logo">
          &copy; 2023 ToDo List
        </p>
        <div class="container py-1 text-decoration-none bg-light">
            <a href="#"><i class="bi bi-facebook me-4 fs-4 text-dark"></i></a>
            <a href="#"><i class="bi bi-instagram me-4 fs-4 text-dark"></i></a>
            <a href="#"><i class="bi bi-tiktok me-4 fs-4 text-dark"></i></a>
            <a href="#"><i class="bi bi-twitter me-4 fs-4 text-dark"></i></a>    
      </div>
    </footer>
  </section>
</body>
</html>
